<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SchoolMealNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SchoolMealNotification.Properties.Settings>
            <setting name="apiUri" serializeAs="String">
                <value>https://open.neis.go.kr/</value>
            </setting>
            <setting name="localCode" serializeAs="String">
                <value>D10</value>
            </setting>
            <setting name="schoolCode" serializeAs="String">
                <value>7240454</value>
            </setting>
            <setting name="apiKey" serializeAs="String">
                <value>a1728e0fb21c42529b8db4b4a271879f</value>
            </setting>
        </SchoolMealNotification.Properties.Settings>
    </applicationSettings>
</configuration>